<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technologylabs.paradisegardensapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/appTheme" >
        <activity
            android:name=".LoginTwitterController"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainWindowController"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fb6be84dac89a00575171d6673a56b28533d81a" />

        <activity
            android:name=".Info_Window_Controller"
            android:label="@string/title_activity_show__info" >
        </activity>
    </application>

</manifest>
